.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .85);
    font-weight: 500;
    z-index: 2;
}
.nav-link {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 380px){
    .navbar {
      font-size: .8rem;
    }
}